body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------MOBILE-HEADER---------- */
.container {
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  display: none;
}

.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

.part-of-logo-header {
  color: #2e2f42;
}

.mobile-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ------------MOBILE-MENU----------- */

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    padding: 8px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
  }

  .mobile-contact-list-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-contact-list-link:hover,
  .mobile-contact-list-link:focus {
    color: #4d5ae5;
  }

  .mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
  }

  .mobile-social-list-links {
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
  }

  .mobile-social-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 48px;
  }

  .mobile-social-list-item {
    width: 40px;
    height: 40px;
  }
}

/* ----------TABLET-HEADER---------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .contacts {
    display: flex;
    align-items: center;
  }

  .mobile-open-btn {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    color: #404bbf;
  }

  .contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-nav {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* ----------DESKTOP-HEADER---------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts-list-item {
    padding: 24px 0;
  }
}

/* ----------------MOBILE-FIRST-SECTION---------------- */
@media screen and (min-resolution: 192px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 1440px;
    background-clip: padding-box;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
  }
}

.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover 1440px;
  background-clip: padding-box;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 49px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ------------TABLET-FIRST-SECTION------------ */

@media screen and (min-resolution: 192px) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
}

/* --------------DESKTOP-FIRST-SECTION-------------- */

@media screen and (min-resolution: 192px) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

/* ------------MOBILE-ADVANTAGES---------- */
.advantages {
  padding: 96px 0;
}

.container-icon-advantages {
  display: none;
}

.advantages-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* -----------TABLET-ADVANTAGES------------ */

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .advantages-text {
    width: 336px;
  }
  .advantages-title {
    text-align: left;
  }
}

/* ---------------DESKTOP-ADVANTAGES--------------- */

@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }

  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-text {
    width: 264px;
  }

  .container-icon-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }
}

/* ---------------MOBILE-OUR-TEAM------------- */

.third-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.worker {
  padding: 32px 0;
}

.our-team-list {
  display: flex;
  gap: 72px 0;
  flex-direction: column;
  justify-content: center;
}

.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-links-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-links-icons-list-item {
  width: 40px;
  height: 40px;
}

.icon-social-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.icon-social-link:hover,
.icon-social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* -------------TABLET-OUR-TEAM-------------- */

@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 64px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* -------------DESKTOP-OUR-TEAM----------- */

@media screen and (min-width: 1158px) {
  .our-team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

/* --------------MOBILE-OUR-PORTFOLIO------------- */
.container {
  max-width: 288px;
}

.portfolio-section {
  padding: 96px 0;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 48px;
}

.apps {
  padding: 32px 16px;
  border: 1px solid #f4f4fd;
  border-top: none;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: 288px;
}

.overlay-p {
  display: none;
}

.our-portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.our-portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
}

/* ----------------TABLET-OUR-PORTFOLIO-------------- */

@media screen and (min-width: 768px) {
  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .apps {
    width: 356px;
  }

  .container {
    max-width: 766px;
  }
}

/* ----------------DESKTOP-OUR-PORTFOLIO-------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .overlay-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }
  .portfolio-img {
    position: relative;
    overflow: hidden;
  }
  .our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-link:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .apps {
    border: 1px solid #e7e9fc;
    width: 360px;
  }
  .our-portfolio-list-item:hover {
    transform: translateY(0%);
  }
  .portfolio-img:hover .overlay-p {
    transform: translateY(0%);
  }

  .portfolio-link:hover .overlay-p {
    transform: translateY(0%);
  }
}

/* -----------------MOBILE-FOOTER---------------- */
.main-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.part-of-logo-footer {
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 288px;
}

.footer-title-socials {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 72px;
  margin-bottom: 16px;
  margin-left: 80px;
  margin-right: 50px;
}

.footer-social-links-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-links-items {
  width: 40px;
  height: 40px;
}

.footer-container-icon {
  display: flex;
  gap: 16px;
}

.footer-social-links {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.subscribe-form-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-top: 72px;
  margin-left: 90px;
  margin-right: 80px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: 0px solid transparent;
  margin-bottom: 16px;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-form-button {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
}

.form-button-icon {
  margin-left: 16px;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
